.grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: #753c77;
    padding: 10px;
    width: 285px;
height: 271px;
margin: auto;
margin-top: 17.52%;
border: 4px black solid;
}

    


.grida {
  background-color: rgba(11, 48, 129, 0.8);

  padding: 2px;
  font-size: 30px;
  
}

.gridb {
    background-color: rgba(25, 129, 11, 0.8);
;
    padding: 2px;
    font-size: 30px;
 
  }
  
  .gridc {
    background-color: rgba(255, 0, 0, 0.8);
;
    padding: 2px;
    font-size: 30px;
  
  }
  .gridd {
    background-color: rgba(11, 48, 129, 0.8);
;
    padding: 2px;
    font-size: 30px;

  }
  

  .gride {
    background-color: rgba(25, 129, 11, 0.8);
;
    padding: 2px;
    font-size: 30px;
 
  }
  
  .gridf {
    background-color: rgba(255, 0, 0, 0.8);
;
    padding: 2px;
    font-size: 30px;
 
  }

  .gridg {
    background-color: rgba(11, 48, 129, 0.8);
;
    padding: 2px;
    font-size: 30px;
   
  }
  
  
  