.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    width: 285px;
height: 271px;
margin: auto;
margin-top: 17.52%;
border: 4px black solid;
}

    


.grida {
  background-color: rgba(11, 48, 129, 0.8);

  padding: 2px;
  font-size: 30px;
  
}

.gridb {
    background-color: rgba(25, 129, 11, 0.8);
;
    padding: 2px;
    font-size: 30px;
 
  }
  
  .gridc {
    background-color: rgba(255, 0, 0, 0.8);
;
    padding: 2px;
    font-size: 30px;
  
  }
  .gridd {
    background-color: rgba(11, 48, 129, 0.8);
;
    padding: 2px;
    font-size: 30px;

  }
  

  .gride {
    background-color: rgba(25, 129, 11, 0.8);
;
    padding: 2px;
    font-size: 30px;
 
  }
  
  .gridf {
    background-color: rgba(255, 0, 0, 0.8);
;
    padding: 2px;
    font-size: 30px;
 
  }

  .gridg {
    background-color: rgba(11, 48, 129, 0.8);

    padding: 2px;
    font-size: 30px;
   
  }
  
  
  @media only screen and (max-height: 650px) {
  .grid-container{
    margin-top: 10%;
    grid-template-columns: auto auto   ;
    width: 570px;
    height: 150px;
   
  
    
  }
  .gridg{
  grid-area: 4/1/4/3;
  }

    }



      
  @media only screen and (max-height: 500px) {
    .grid-container{
      margin-top: 10%;
      grid-template-columns: auto auto auto ;
      width: 570px;
      height: 135px;
     
    
      
    }
    .gridg{
      grid-area: 3/1/3/span 3 ;
    }
  
      }
  
  
      